.albumContainer {
    margin: 1rem 0;
    background: #D4C1EC;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    color: white;
    padding: 1rem 2rem;
}

.albumHeader {
  display: flex;
  justify-content: center;
}

.albumListContainer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

.all-albums-links {
  display: grid;
  justify-items: center;
  text-decoration: none;
}
