.albumContainer {
    margin: 1rem 0;
    background: #D4C1EC;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    color: white;
    padding: 1rem 2rem;
}

.albumListContainer {
  display: flex;
  justify-content: space-around;
}
