.photoHeader {
    display: flex;
    width: 150px;
}

.photoOutline {
    display: flex;
    flex-wrap: wrap;
}

.photoOuterContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: linear-gradient(white, #F2DFD7);

}

.photoContainer {
    display: flex;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin: 5px;
    float: left;
}

.photoOutline {
    display: flex;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container {
    text-align: center;
    padding: 10px 20px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
